# Git
.git
.gitignore

# Environment files
.env

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv

# Node
frontend/node_modules

# Python cache
backend/__pycache__
backend/**/*.pyc

# SQLite temporary files
*.db-journal

# IDE
.vscode
.idea

# OS
.DS_Store

# Logs
*.log